.dialog {
  & h2 {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 16px;
  }

  & p {
    margin-bottom: 32px;
  }

  & .dialog-footer {
    display: flex;
    justify-content: flex-end;
  }

  padding: 24px;
  border-radius: 16px;
  background: #1e293b;
  color: #e2e8f0;
  box-shadow: 0 1.25rem 3.125rem rgb(0 0 0 / 0.5);
  max-width: 400px;
  width: 100%;
  border: 1px solid #3c4d68;
}
