@import "./reset.css" layer(reset);
@import "./dialog.css";
@import "./popover.css";

:root {
  font-family: ui-sans-serif, system-ui, sans-serif;
  font-size: 1rem;
  background-color: #0e0e1a;
  color: white;
}

body {
  height: 1500px;
}

nav {
  background-color: #1d1d35;
  display: flex;
  align-items: center;
  gap: 2rem;
  height: 6rem;
  justify-content: end;
  padding: 0 5rem;
  max-width: 100vw;
}

.navlink {
  font-size: 1.25rem;
  font-weight: 600;

  &:hover {
    text-decoration: underline;
  }
}

.user-button {
  width: 4rem;
  border-radius: 9999px;
  border: 2px solid transparent;

  &:hover {
    outline: 2px solid white;
  }
}

.user-icon {
  border-radius: 9999px;
}

.name-container {
  border-bottom: 1px solid gray;
  padding: 1rem;

  & .name {
    font-weight: 600;
  }

  & .email {
    font-size: 0.875rem;
  }
}

.menu-item {
  padding: 0.75rem 1rem;
  text-align: left;
  font-weight: 600;

  &:hover {
    background-color: #4a4a92;
  }
}

main {
  padding: 5rem;
}

h1 {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 3rem;
}

.dialog-button {
  padding: 0.5rem 1rem;
  background-color: blue;
  border-radius: 9999px;
  font-weight: 600;
  transition: background-color 0.1s;

  &:hover {
    background-color: darkblue;
  }
}
